/* General styling */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

h1 {
  text-align: center;
  width: 100%;
  color: black;
}

img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: 2px solid black;
}

#pokeName {
  color: black;
  border: 1px solid black;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

p {
  color: black;
}

.pokeTypes {
  display: inline-block;
  padding: 3px 3px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 12px;
  min-width: 50px;
  text-align: center;
}
